/*Footer Style*/

/*Footer Image*/
.footer-image img {
    max-width: 100%;
    height: auto;
}
/*End Footer Image*/

/*Footer Links Style*/
.footer-info {
    display: grid;
    grid-template-columns: 80% auto;
    height: 60px;
    background-color: rgb(250, 234, 234);
    color: #3a3a3a;
    font-size: 13px;
}

.footer-links {
    margin-top: 26px;
}
.footer-links a {
    text-decoration: none;
    color: #3a3a3a;
    margin: 0 30px 0 10px;
}

.footer-links a:hover {
    color: rgb(245, 151, 148);
}

.footer-copyright {
    margin-top: 26px;
}

/*End Footer Links Style*/

/*End Footer Style*/