/*Main Page content*/
.content {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 30px;
}

/*My Content Style*/
.about-me-section {
    margin-bottom: 15px;
    border: 0.5px groove #d5d5d5;
}

.about-me-image img {
    margin: 30px 0 0 80px ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-me-information p {
    width: 190px;
    margin: 40px 0 40px 70px;
}

.reader-favourites-section {
    margin-bottom: 15px;
    border: 0.5px groove #d5d5d5;
}

.reader-favourites-header h2 {
    text-align: center;
    margin: 30px 0 30px 0;
    color: #484848;
}

.first-product img {
    width: 260px;
    height: 260px;
    margin: 0 0 0 18px ;
}

.first-product p {
    text-align: center;
    margin: 15px 0 30px 0;
}

.second-product img {
    width: 260px;
    height: 260px;
    margin: 0 0 0 18px ;
}

.second-product p {
    text-align: center;
    margin: 15px 0 30px 0;
}

.third-product img {
    width: 260px;
    height: 260px;
    margin: 0 0 0 18px ;
}

.third-product p {
    text-align: center;
    margin: 15px 0 30px 0;
}

.latest-on-intagram-section {
    margin-bottom: 15px;
    border: 0.5px groove #d5d5d5;
}

.latest-on-intagram-header h2 {
    text-align: center;
    margin: 30px 0 30px 0;
    color: #484848;
}

.latest-product img {
    width: 260px;
    height: 260px;
    margin: 0 0 0 18px ;
}
/*End My Content Style*/

/*Main Content Style*/
/*Fussy Deodorant Style*/
.fussy-deodorant {
    display: flex;
    margin-right: 80px;
}

.fussy-deodorant-image img {
    width: 500px;
    margin-right: 30px;
}

.fussy-deodorant-header .beauty-parag {
    color: #a4a4a4;
    margin-top: 80px;
}

.fussy-deodorant-header h3{
    font-size: 30px;
    margin: 100px 0 30px 0;
    color: #4d4c4c;
}

.fussy-deodorant-header p{
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;
    color: #4d4c4c;
}

.read-more-info {
    height: 50px;  
    width: 140px;  
    padding: 0 30px; 
    color: rgb(255, 255, 255);
    background-color: rgb(245, 151, 148);
    border: none;
    margin-top: 20px ;
}

.read-more-info:hover {
    border: none;
    background-color: #404963;
}
/*End Fussy Deodorant Style*/

/*b-corp-beauty-skincare-brands Style*/
.b-corp-beauty-skincare-brands {
    display: flex;
    margin-right: 80px;
    margin-top: 50px;
}

.b-corp-beauty-skincare-brands-image img {
    width: 500px;
    margin-right: 30px;
}

.b-corp-beauty-skincare-brands-header .beauty-parag {
    color: #a4a4a4;
    margin-top: 80px;
}

.b-corp-beauty-skincare-brands-header h3{
    font-size: 30px;
    margin: 100px 0 30px 0;
    color: #4d4c4c;
}

.b-corp-beauty-skincare-brands-header p{
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;
    color: #4d4c4c;
}

.read-more-info {
    height: 50px;  
    width: 140px;  
    padding: 0 30px; 
    color: rgb(255, 255, 255);
    background-color: rgb(245, 151, 148);
    border: none;
    margin-top: 20px ;
}

.read-more-info:hover {
    border: none;
    background-color: #404963;
}
/*End b-corp-beauty-skincare-brands Style*/

/*b-corp-beauty-skincare-brands Style*/
.korean-skincare-routine {
    display: flex;
    margin-right: 80px;
    margin-top: 50px;
}

.korean-skincare-routine-image img {
    width: 500px;
    margin-right: 30px;
}

.korean-skincare-routine-header .beauty-parag {
    color: #a4a4a4;
    margin-top: 80px;
}

.korean-skincare-routine-header h3{
    font-size: 30px;
    margin: 100px 0 30px 0;
    color: #4d4c4c;
}

.korean-skincare-routine-header p{
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;
    color: #4d4c4c;
}

.read-more-info {
    height: 50px;  
    width: 140px;  
    padding: 0 30px; 
    color: rgb(255, 255, 255);
    background-color: rgb(245, 151, 148);
    border: none;
    margin-top: 20px ;
}

.read-more-info:hover {
    border: none;
    background-color: #404963;
}
/*End b-corp-beauty-skincare-brands Style*/
/*End Main Content Style*/

/*End Main Page content*/


