* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/*Header Section Style*/
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 50px;
    border-bottom: 0.5px groove #848484;;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    padding-left: 30%; 

}

.navigation-bar a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #3a3a3a;
    margin: 20px;
}

.navigation-bar a:hover {
    color: rgb(245, 151, 148);
}

.social-media a {
    margin: 8px;
    color: rgb(0, 0, 0);
}

.social-media a:hover {
    color: rgb(245, 151, 148);
}
/*End Header Section Style*/

/*Main Section Style*/
/*Main Page Style*/
.title-section h1{
    text-align: center;
    margin: 50px;
    font-family: Cedarville Cursive;
    font-size: 40px;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figcaption-img {
    margin: 10px;
}

.home-page img {
    width: 100%;
    height: 50%;
}

figcaption {
    text-align: center;
}
/*End Main Section Style*/

/*Sign Up Style*/
.sign-up {
    background-color: rgb(250, 234, 234);
    border-bottom: 0.5px groove rgb(250, 234, 234);
    margin-top: 50px;
    height: 300px;
}

.sign-up-form header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    color: #3a3a3a;
}

.sign-up-form h2 {
    padding-bottom: 25px;
}

.main-sign-up-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.main-sign-up-form input[type="text"] {
    height: 40px;  
    width: 250px;  
    padding: 27px 20px; 
    border: none;
}

.main-sign-up-form div {
    padding: 10px;
}

.main-sign-up-form button[type="submit"] {
    height: 50px;  
    width: 140px;  
    padding: 0 40px; 
    color: rgb(255, 255, 255);
    background-color: rgb(245, 151, 148);
    border: none;

}

.main-sign-up-form button:hover {
    border: none;
    background-color: #404963;
}

::placeholder {
    color: #848484;
}
/*End Sign Up Style*/
/*End Main Section Style*/

